.alert {
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--spacing-xs);
  font-family: var(--font-sans);
  font-size: 1rem;
  margin-bottom: var(--spacing-sm);
  color: var(--color-base);
}
.alert--info {
  background: var(--color-primary);
}
.alert--success {
  background: var(--color-green);
}
.alert--warning {
  background: var(--color-yellow);
  color: var(--color-content);
}
.alert--error {
  background: var(--color-red);
}
