.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1000;
}
.drawer--open {
  pointer-events: auto;
}
.drawer-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: opacity 0.2s;
}
.drawer-content {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20rem;
  background: var(--color-surface);
  box-shadow: 0 0 16px var(--color-logoShadow);
  transition: transform 0.3s;
  height: 100vh;
  overflow-y: auto;
}
.drawer--right .drawer-content {
  right: 0;
  transform: translateX(100%);
}
.drawer--right.drawer--open .drawer-content {
  transform: translateX(0);
}
.drawer--left .drawer-content {
  left: 0;
  transform: translateX(-100%);
}
.drawer--left.drawer--open .drawer-content {
  transform: translateX(0);
}
