openapi: 3.0.3
info:
  title: Nova Universe API
  description: |
    Enterprise-grade ITSM platform API with comprehensive ticket management,
    user management, and AI-powered automation capabilities.
    
    ## Authentication
    This API uses JWT Bearer token authentication. Include the token in the Authorization header:
    ```
    Authorization: Bearer <token>
    ```
    
    ## Error Handling
    All errors follow RFC 7807 Problem Details for HTTP APIs standard.
    
    ## Rate Limiting
    API calls are rate limited to 1000 requests per hour per user.
    
  version: 2.0.0
  contact:
    name: Nova Universe API Support
    email: api-support@nova-universe.com
    url: https://docs.nova-universe.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
    
servers:
  - url: https://api.nova-universe.com
    description: Production server
  - url: https://staging.api.nova-universe.com  
    description: Staging server
  - url: http://localhost:3000
    description: Development server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from /auth/login endpoint
      
  schemas:
    Error:
      type: object
      required:
        - type
        - title
        - status
        - detail
      properties:
        type:
          type: string
          format: uri
          description: A URI reference that identifies the problem type
          example: "https://docs.nova-universe.com/errors/validation-error"
        title:
          type: string
          description: A short, human-readable summary of the problem type
          example: "Validation Error"
        status:
          type: integer
          description: The HTTP status code
          example: 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence
          example: "The 'email' field is required"
        instance:
          type: string
          format: uri
          description: A URI reference that identifies the specific occurrence
          example: "/tickets/123"
        requestId:
          type: string
          description: Unique request identifier for debugging
          example: "req_1640995200_abc123"
        timestamp:
          type: string
          format: date-time
          description: When the error occurred
          example: "2023-12-31T23:59:59Z"
        
    HealthCheck:
      type: object
      required:
        - status
        - timestamp
        - version
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
          description: Overall system health status
        timestamp:
          type: string
          format: date-time
          description: Timestamp of health check
        version:
          type: string
          description: API version
          example: "2.0.0"
        responseTime:
          type: number
          description: Response time in milliseconds
          example: 25.5
        services:
          type: object
          description: Status of individual services
          additionalProperties:
            type: object
            properties:
              status:
                type: string
                enum: [up, down, degraded]
              responseTime:
                type: number
              error:
                type: string
                
  responses:
    BadRequest:
      description: Bad Request - Invalid input parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            type: "https://docs.nova-universe.com/errors/bad-request"
            title: "Bad Request"
            status: 400
            detail: "Missing required field: email"
            requestId: "req_1640995200_abc123"
            timestamp: "2023-12-31T23:59:59Z"
            
    Unauthorized:
      description: Unauthorized - Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            type: "https://docs.nova-universe.com/errors/unauthorized"
            title: "Unauthorized"
            status: 401
            detail: "Valid authentication credentials required"
            
    Forbidden:
      description: Forbidden - Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
            
    NotFound:
      description: Not Found - Resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
            
    Conflict:
      description: Conflict - Resource already exists or conflict with current state
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
            
    UnprocessableEntity:
      description: Unprocessable Entity - Validation errors
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/Error'
              - type: object
                properties:
                  validation_errors:
                    type: array
                    items:
                      type: object
                      properties:
                        field:
                          type: string
                        message:
                          type: string
                        code:
                          type: string
                          
    TooManyRequests:
      description: Too Many Requests - Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Number of seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
            
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
            
    ServiceUnavailable:
      description: Service Unavailable - Server is temporarily unavailable
      headers:
        Retry-After:
          schema:
            type: integer
          description: Number of seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

paths:
  /api/health:
    get:
      summary: API Health Check
      description: |
        Returns the health status of the API and its dependencies.
        Used for monitoring and load balancer health checks.
      tags:
        - System
      responses:
        '200':
          description: Health check results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheck'
              examples:
                healthy:
                  summary: All systems healthy
                  value:
                    status: healthy
                    timestamp: "2023-12-31T23:59:59Z"
                    version: "2.0.0"
                    responseTime: 25.5
                    services:
                      database:
                        status: up
                        responseTime: 15.2
                      redis:
                        status: up
                        responseTime: 2.1
                      ai_service:
                        status: up
                        responseTime: 8.3
                degraded:
                  summary: Some services degraded
                  value:
                    status: degraded
                    timestamp: "2023-12-31T23:59:59Z"
                    version: "2.0.0"
                    responseTime: 125.5
                    services:
                      database:
                        status: up
                        responseTime: 115.2
                      redis:
                        status: degraded
                        responseTime: 5.1
                        error: "High latency detected"
                      ai_service:
                        status: up
                        responseTime: 5.2
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
paths:
  /auth/login:
    post:
      summary: User login
      description: Authenticate a user and return a JWT token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
              required:
                - username
                - password
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
        '401':
          description: Invalid credentials
  /tickets:
    get:
      summary: List tickets
      description: Retrieve a list of tickets.
      responses:
        '200':
          description: A list of tickets
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    status:
                      type: string
    post:
      summary: Create a ticket
      description: Create a new ticket.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                priority:
                  type: string
              required:
                - title
                - description
      responses:
        '201':
          description: Ticket created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string

  /api/v2/graphql:
    post:
      summary: GraphQL endpoint
      description: Execute GraphQL queries against the Nova API. Requires a Bearer JWT from the admin login.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: GraphQL response
  /users:
    get:
      summary: List users
      description: Retrieve a list of users.
      responses:
        '200':
          description: A list of users
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    username:
                      type: string
                    role:
                      type: string
    post:
      summary: Create a user
      description: Create a new user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
                role:
                  type: string
              required:
                - username
                - password
                - role
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string

  /api/reports/usage:
    get:
      summary: Get usage metrics
      responses:
        '200':
          description: Usage metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: integer
                  kiosks:
                    type: integer
                  timestamp:
                    type: string
                    format: date-time

  /api/reports/insights:
    get:
      summary: Get system insights
      responses:
        '200':
          description: Insights list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    message:
                      type: string

  /api/workflows/trigger:
    post:
      summary: Trigger a workflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workflow:
                  type: string
      responses:
        '200':
          description: Workflow triggered
          content:
            application/json:
              schema:
                type: object
                properties:
                  runId:
                    type: integer
                  status:
                    type: string
        '400':
          description: Missing workflow

  /api/workflows/status:
    get:
      summary: Get workflow status
      responses:
        '200':
          description: Workflow status list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    workflow:
                      type: string
                    status:
                      type: string
                    triggeredAt:
                      type: string
                      format: date-time

  /api/scim/monitor/logs:
    get:
      summary: Get SCIM provisioning logs
      description: Retrieve SCIM operation logs with filtering and pagination
      tags:
        - SCIM Monitoring
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: operation
          schema:
            type: string
            enum: [create, update, delete, get, list]
          description: Filter by SCIM operation type
        - in: query
          name: entityType
          schema:
            type: string
          description: Filter by entity type (e.g., user, group)
        - in: query
          name: statusCode
          schema:
            type: integer
          description: Filter by HTTP status code
        - in: query
          name: startDate
          schema:
            type: string
            format: date-time
          description: Filter logs from this date onwards
        - in: query
          name: endDate
          schema:
            type: string
            format: date-time
          description: Filter logs up to this date
        - in: query
          name: page
          schema:
            type: integer
            default: 1
          description: Page number for pagination
        - in: query
          name: limit
          schema:
            type: integer
            default: 50
            maximum: 100
          description: Number of logs per page
      responses:
        '200':
          description: SCIM logs retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        operation:
                          type: string
                        entityType:
                          type: string
                        entityId:
                          type: string
                        statusCode:
                          type: integer
                        message:
                          type: string
                        userAgent:
                          type: string
                        ipAddress:
                          type: string
                        duration:
                          type: integer
                        createdAt:
                          type: string
                          format: date-time
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      limit:
                        type: integer
                      total:
                        type: integer
                      totalPages:
                        type: integer
        '401':
          description: Unauthorized - Invalid or missing JWT token
        '429':
          description: Too many requests
        '500':
          description: Internal server error

  /api/scim/monitor/status:
    get:
      summary: Get SCIM provisioning status and statistics
      description: Retrieve SCIM system status, operation statistics, and health metrics
      tags:
        - SCIM Monitoring
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: timeframe
          schema:
            type: string
            enum: [1h, 24h, 7d, 30d]
            default: 24h
          description: Timeframe for statistics
      responses:
        '200':
          description: SCIM status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy, degraded, error]
                  lastActivity:
                    type: string
                    format: date-time
                  statistics:
                    type: object
                    properties:
                      totalOperations:
                        type: integer
                      operationsByType:
                        type: object
                      operationsByStatus:
                        type: object
                      averageResponseTime:
                        type: number
                      errorRate:
                        type: number
                  healthMetrics:
                    type: object
                    properties:
                      uptime:
                        type: string
                      lastErrorTime:
                        type: string
                        format: date-time
                      recentErrors:
                        type: integer
        '401':
          description: Unauthorized - Invalid or missing JWT token
        '429':
          description: Too many requests
        '500':
          description: Internal server error

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
