openapi: 3.0.0
info:
  title: Nova-Universe API
  description: API documentation for the Nova-Universe platform.
  version: 1.0.0
servers:
  - url: https://api.nova-universe.com
    description: Production server
  - url: https://staging.api.nova-universe.com
    description: Staging server
paths:
  /auth/login:
    post:
      summary: User login
      description: Authenticate a user and return a JWT token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
              required:
                - username
                - password
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
        '401':
          description: Invalid credentials
  /tickets:
    get:
      summary: List tickets
      description: Retrieve a list of tickets.
      responses:
        '200':
          description: A list of tickets
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    title:
                      type: string
                    status:
                      type: string
    post:
      summary: Create a ticket
      description: Create a new ticket.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                priority:
                  type: string
              required:
                - title
                - description
      responses:
        '201':
          description: Ticket created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string

  /api/v2/graphql:
    post:
      summary: GraphQL endpoint
      description: Execute GraphQL queries against the Nova API. Requires a Bearer JWT from the admin login.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: GraphQL response
  /users:
    get:
      summary: List users
      description: Retrieve a list of users.
      responses:
        '200':
          description: A list of users
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    username:
                      type: string
                    role:
                      type: string
    post:
      summary: Create a user
      description: Create a new user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
                role:
                  type: string
              required:
                - username
                - password
                - role
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string

  /api/reports/usage:
    get:
      summary: Get usage metrics
      responses:
        '200':
          description: Usage metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: integer
                  kiosks:
                    type: integer
                  timestamp:
                    type: string
                    format: date-time

  /api/reports/insights:
    get:
      summary: Get system insights
      responses:
        '200':
          description: Insights list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    message:
                      type: string

  /api/workflows/trigger:
    post:
      summary: Trigger a workflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workflow:
                  type: string
      responses:
        '200':
          description: Workflow triggered
          content:
            application/json:
              schema:
                type: object
                properties:
                  runId:
                    type: integer
                  status:
                    type: string
        '400':
          description: Missing workflow

  /api/workflows/status:
    get:
      summary: Get workflow status
      responses:
        '200':
          description: Workflow status list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    workflow:
                      type: string
                    status:
                      type: string
                    triggeredAt:
                      type: string
                      format: date-time

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
